body {
  line-height: 1.5;
  font-family: "Segoe UI", "Ubuntu", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

.gafc {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
}
