:root {
  --content-width: 660px;
  --onboarding-cta-height: 434px;
  --onboarding-cta-offset: calc(var(--onboarding-cta-height) - 230px);

  /* --------- shared component variables ---------- */
  /* study card variables */
  --study-card-header-columns: 40px auto max-content;
  --study-card-header-areas: "image title cta";
}

.gafc {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
}

.shortcut-callout {
  font-size: 14px;
  justify-self: end;
  font-style: italic;
  color: var(--color-blue-50);
}

.call-flow {
  display: grid;
  grid-gap: 1rem;
  align-items: center;
  position: absolute;
  width: var(--content-width);
}

main h2 {
  font-size: 38px;
}

main h3 {
  font-size: 20px;
  margin-bottom: 2em;
  margin-top: 2em;
}

main h4 {
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-ink-50);
  margin: 0;
}

p,
div,
ul,
ol {
  color: var(--color-marketing-gray-70);
}

main h3,
main h4 {
  font-family: "Metropolis", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

main hr {
  border-top: 1px dashed var(--color-black);
  margin-bottom: 2rem;
}

.radius-sm {
  border-radius: 4px;
}

.body-copy {
  color: var(--color-marketing-gray-70);
}

.text-head-sm {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -1%;
  font-weight: 700;
}

.text-body-xs {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: var(--color-marketing-gray-60);
}

.text-body-sm {
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 400;
}

.text-body-md {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

.text-body-lg {
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 400;
}

.text-display-xxs {
  font-size: 1rem;
  line-height: 1.1;
}

.text-display-xs {
  font-size: 1.5rem;
  font-weight: 700;
}

.text-display-sm {
  font-size: 2rem;
  font-weight: 700;
}

.text-display-md {
  font-size: 2.5rem;
  font-weight: 700;
}

.text-display-lg {
  font-size: 3rem;
  font-weight: 700;
}

.text-display-xl {
  font-size: 3.5rem;
  font-weight: 700;
}

.text-display-xxl {
  font-size: 4rem;
  font-weight: 700;
}

/* extended button states */

.mzp-c-button.mzp-t-compact {
  padding: 1px 10px;
}

.mzp-c-button.mzp-t-error {
  background-color: var(--color-red-80);
  border-color: var(--color-red-80);
  color: var(--color-white);
}

.mzp-c-button.mzp-t-error:hover {
  background-color: var(--color-red-90);
  border-color: var(--color-red-90);
  color: var(--color-white);
}

.mzp-c-button.mzp-t-icon {
  border-radius: 50%;
  width: max-content;
  height: max-content;
  padding: 1em;
  display: grid;
  place-items: center;
}

.mzp-c-button.mzp-t-secondary.mzp-t-text {
  background-color: transparent;
  border-color: transparent;
  color: black;
}

.mzp-c-button.mzp-t-secondary.mzp-t-text:hover {
  background-color: #ededf0;
  border-color: #ededf0;
  color: black;
}

.mzp-t-leave {
  background-color: var(--color-marketing-gray-20);
  color: var(--color-red-60);
  border-color: var(--color-marketing-gray-20);
}

.mzp-t-leave:hover {
  border-color: var(--color-red-60);
  color: white;
  background-color: var(--color-red-60);
}

.mzp-t-leave.mzp-t-product {
  background-color: var(--color-red-60);
  color: white;
  border-color: var(--color-red-60);
}

.mzp-t-leave.mzp-t-product:hover {
  background-color: var(--color-red-70);
  border-color: var(--color-red-70);
}

/* other design system tweaks */

ul.mzp-u-list-styled {
  margin-left: 1rem;
}

/* --------- shared component styles ---------- */

.study-card-header {
}
